@import 'tailwindcss';
@source '../*.html';
@custom-variant hover (&:hover);

@theme {
  --font-serif: 'Volkhov', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --font-sans: 'Poppins', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --text-xs: 13px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 33px;
  --text-4xl: 50px;
  --text-5xl: 64px;
  --text-6xl: 84px;

  /* Brand Colors  */
  --color-brand-orange: #DF6951;
  --color-brand-yellow: #F1A501;
  --color-brand-dark-blue: #14183E;
  --color-brand-light-blue: #5E6282;
  --color-brand-gray: #686D77;
  --color-brand-purple: #6246E5;
  --color-brand-light-yellow: #FFF1DA;
  --color-brand-teal: #006380;
  --color-brand-light-purple: #DFD7F9;
  --color-brand-dark-gray: #212832;

}


@layer base {
  :root {
    font-size: var(--text-base);
    color: var(--color-brand-light-blue);
  }
  * {
    @apply box-border;
  }
  body {
    font-family: var(--font-sans);
    color: var(--color-brand-light-blue);
  }
  
  html.mobile-menu-open,
  html.mobile-menu-open body {
    @apply overflow-hidden h-full;
  }
  
  h1,
  .h1 {
    font-family: var(--font-serif);
    font-size: var(--text-4xl);
    font-weight: bold;
    line-height: 1.1;
    color: var(--color-brand-dark-blue);
    @variant lg {
      font-size: var(--text-5xl);
    }
    @variant xl {
      font-size: var(--text-6xl);
    }
  }
  h2,
  .h2 {
    font-family: var(--font-serif);
    font-size: var(--text-3xl);
    font-weight: bold;
    color: var(--color-brand-dark-blue);
    @variant lg {
      font-size: var(--text-4xl);
    }
  }
  h3,
  .h3 {
    font-size: var(--text-3xl);
    font-weight: 600;
    color: var(--color-brand-light-blue);
  }
  h4,
  .h4 {
    font-size: var(--text-2xl);
  }
  h5,
  .h5 {
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--color-brand-orange);
    text-transform: uppercase;
  }
  h6,
  .h6 {
    font-size: var(--text-lg);
    color: var(--color-brand-light-blue);
  }
}

@layer components {
  .button {
    @apply inline-flex py-4 px-6.5 bg-brand-yellow text-white text-lg rounded-[10px] transition-colors duration-300 relative cursor-pointer;
  }
  .button:before {
    content: '';
    @apply absolute inset-0 top-3 size-full blur-xl bg-brand-yellow opacity-20 transition-opacity duration-300 rounded-[10px] -z-1;
  }
  .text-input {
    @apply bg-gray-100 rounded-full px-4 py-2 h-12 w-full;
  }

}
@layer utilities {
  .container {
    @apply transition-all;
    /* Apply default horizontal margin for centering */
    margin-inline: auto;
    /* Apply default horizontal padding */
    padding-inline: 1rem;

    /* Customize max-width at specific breakpoints using @variant */
    @variant sm {
      max-width: 540px;
    }
    @variant md {
      max-width: 720px;
    }
    @variant lg {
      max-width: 960px;
    }
    @variant xl {
      max-width: 1140px;
    }
    @variant 2xl {
      max-width: 1200px;
    }
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

}
